html,body {
  height: 100%;
  margin: 0;
}

@media print {
  .navbar, footer {
    display: none !important;
  }
}

@media screen and (min-width: 1280px) {
    body {
      padding-top:70px;
      background-color:  #e8ad21;
      background: url("../images/teve.png"), url("../images/main_bg.jpg");
      background-position: left bottom,  center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 25% auto, cover;
      font-family: 'Roboto Slab', serif;
      color: #222;
    }
}
@media screen and (max-width: 1280px) {
  body{
    padding-top:70px;
    background-color:  #e8ad21;
    background: url("../images/main_bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size:  cover;
    font-family: 'Roboto Slab', serif;
    color: #222;
  }
}

.table {
  border: 0.5px solid #000000;
}

th, .custom-table td{
  text-align: center;
}

.custom-table > thead > tr > th,
.custom-table > tbody > tr > th,
.custom-table > tfoot > tr > th,
.custom-table > thead > tr > td,
.custom-table > tbody > tr > td,
.custom-table > tfoot > tr > td {
   border: 0.5px solid #000000;
}
footer{
    padding-top:50px;
}

h1, h2, h3, h4, h5, h6, a {
  color: #bf0808;
}

.navbar-brand {
  padding: 5px 15px;
}

.navbar {
  background: inherit;
  border: none
}

ul.social-icons {
  margin-top: 0.5em;
  font-size: 2em;
}

a.fa:hover, a.fa:focus a:hover>.fa, a:active>.fa {
  text-decoration: none;
}

a {
  color: #bf0808;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
  color: #bf0808;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover,
.navbar-nav>a:hover,
.navbar-nav>li.active, .navbar-nav>li.active>a:hover
{
  background-color: inherit;
  color: inherit;
  text-decoration: underline;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  background-color: inherit;
}

.item img, img.artist {
  width: 100%;
  height: auto;
}
