html {
  height: 100%
}

@media screen and (min-width: 1280px) {
    body {
      padding-top:50px;
      background-color:  #e8ad21;
      background: url("../images/teve.png"), url("../images/main_bg.jpg");
      background-position: left bottom,  center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      height: 100%;
      background-size: 25% auto, cover;
      font-family: 'Roboto Slab', serif;
      color: #222;
    }
}
@media screen and (max-width: 1280px) {
  body{
      padding-top:50px;
      height: 100%;
      background-color:  #e8ad21;
      background: url("../images/main_bg.jpg");
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      font-family: 'Roboto Slab', serif;
      color: #222;
  }
}

.table {
  border: 0.5px solid #000000;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
   border: 0.5px solid #000000;
}
footer{
    padding-top:50px;
}

h1, h2, h3, h4, h5, h6, a {
  color: #bf0808;
}

.navbar-brand {
  padding: 5px 15px;
}

.navbar {
  background: inherit;
  border: none
}

ul.social-icons {
  margin-top: 0.5em;
  font-size: 2em;
}

a.fa:hover, a.fa:focus a:hover>.fa, a:active>.fa {
  text-decoration: none;
}

a {
  color: #bf0808;
}
.navbar-default .navbar-nav>li>a {
  color: #bf0808;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: inherit;
  color: #bf0808;
  text-decoration: underline;
}


img {
  width: 100%;
  height: auto;
}
