    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand"><img src="/images/logo.png" alt="Tű Fokán 2017"/></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Rólunk</a></li>
            <li><a href="/artist">Fellépők</a></li>
            <li><a href="/page/program">Program</a></li>
            <li><a href="/page/ticket">Jegyek</a></li>
          </ul>
        </div>
      </div>
    </div>
